<ul class="divide-y divide-gray-200 dark:divide-gray-700">
    <li class="py-12">
        <article>
            <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
                <dl>
                    <dt class="sr-only">
                        Published on
                    </dt>
                    <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
                        <time datetime="2021-08-07T15:32:14.000Z">
                            August 7, 2021
                        </time>
                    </dd>
                </dl>
                <div class="space-y-5 xl:col-span-3">
                    <div class="space-y-6">
                        <div>
                            <h2 class="text-2xl font-bold leading-8 tracking-tight"><a class="text-gray-900 dark:text-gray-100" href="/blog/new-features-in-v1">New features in v1</a></h2>
                            <div class="flex flex-wrap">
                                <a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" href="/tags/next-js">next-js</a>
                                <a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" href="/tags/tailwind">tailwind</a>
                                <a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" href="/tags/guide">guide</a>
                            </div>
                        </div>
                        <div class="prose max-w-none text-gray-500 dark:text-gray-400">
                            An overview of the new features released in v1 - code block copy, multiple authors, frontmatter layout and more
                        </div>
                    </div>
                    <div class="text-base font-medium leading-6">
                        <a class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" aria-label="Read &quot;New features in v1&quot;" href="/blog/new-features-in-v1">Read more →</a>
                    </div>
                </div>
            </div>
        </article>
    </li>
    <li class="py-12">
        <article>
            <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
                <dl>
                    <dt class="sr-only">
                        Published on
                    </dt>
                    <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
                        <time datetime="2021-08-07T15:32:14.000Z">
                            August 7, 2021
                        </time>
                    </dd>
                </dl>
                <div class="space-y-5 xl:col-span-3">
                    <div class="space-y-6">
                        <div>
                            <h2 class="text-2xl font-bold leading-8 tracking-tight"><a class="text-gray-900 dark:text-gray-100" href="/blog/new-features-in-v1">New features in v1</a></h2>
                            <div class="flex flex-wrap">
                                <a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" href="/tags/next-js">next-js</a>
                                <a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" href="/tags/tailwind">tailwind</a>
                                <a class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" href="/tags/guide">guide</a>
                            </div>
                        </div>
                        <div class="prose max-w-none text-gray-500 dark:text-gray-400">
                            An overview of the new features released in v1 - code block copy, multiple authors, frontmatter layout and more
                        </div>
                    </div>
                    <div class="text-base font-medium leading-6">
                        <a class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400" aria-label="Read &quot;New features in v1&quot;" href="/blog/new-features-in-v1">Read more →</a>
                    </div>
                </div>
            </div>
        </article>
    </li>
</ul>